.App {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
.editor-area {
  color: #888;
  font-size: 1.1rem;
  margin: auto;
}
.react-contextmenu {
  background-color: rgba(255, 255, 255, 0.95);
  color: black;
  padding: 4px 0;
  border-radius: 4px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  min-width: 150px;
}
.react-contextmenu-item {
  padding: 2px 10px;
}
.react-contextmenu-item:hover {
  cursor: pointer;
  color: white;
  background-color: #2699ff;
}
