.project-tree {
  min-width: 250px;
  min-height: 100%;
  background-color: #27212b;
  color: white;
  flex-direction: column;
  padding: 5px 0px;
}
.project-row {
  font-size: 0.9rem;
  padding: 5px 10px;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
}
.project-row.selected {
  background-color: #73687a;
}
.project-row svg {
  margin-right: 10px;
}
